* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  width: 0%;
  margin: auto;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
}

.app {
  padding: 4rem;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, rgba(249, 211, 180, 1) 0%);
  background-clip: text;
  -webkit-background-clip: text;
}
